{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Reset Mail Send</title>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="phone-app-ddemo"></div>
      <div class="form-data">
        <form action="" method="POST" enctype="multipart/form-data">
          <div class="logo">
            <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Password Reset Email Sent</h1>
            <br>
            <p class="lg:text-xl text-xl  "> We've emailed you instructions for setting your password. If the email doesn't arrive, check your spam folder.</p>
            <br>
            <a href="/" class="post__button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Return" width="35" height="35">
                <path d="M39 6a9 9 0 0 1 9 9v12a9 9 0 0 1-9 9H12v3c0 1.212-.732 2.31-1.851 2.772a3.01 3.01 0 0 1-3.27-.651l-6-6A2.992 2.992 0 0 1 0 33c0-.768.294-1.536.879-2.121l6-6a3.005 3.005 0 0 1 3.27-.651A3.002 3.002 0 0 1 12 27v3h27c1.659 0 3-1.341 3-3V15a3 3 0 0 0-3-3H15a3.001 3.001 0 0 1 0-6h24z" fill="#1da1f2" class="color000000 svgShape"></path>
              </svg>
          </a>
          </div>
        </form>
        
      </div>
    </div>
  </div>

</body>

</html>