<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Ciphernet | Register</title>
</head>

<body>

  <div id="wrapper">
    <div class="container">

      <div class="form-data">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="logo">
            <img src="{% static 'assets2/images/ciphernetlogo.png' %}" alt="logo" class="logo">
          </div>
          <!-- Display form errors -->
          {% if form.errors %}
            <div class="alert alert-danger">
              <strong>Error:</strong> Please correct the following errors.
              <ul>
                {% for error in form.non_field_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <!-- Display individual field errors -->
          {% for field in form %}
            {% if field.errors %}
              <div class="alert alert-danger">
                <strong>Error in {{ field.label }}:</strong> {{ field.errors|join:", " }}
              </div>
            {% endif %}
          {% endfor %}
          <!-- Render form fields -->
<!--          {{ form.username }}-->
<!--          {{ form.email }}-->
<!--          {{ form.password1 }}-->
<!--          {{ form.password2 }}-->
              {{ form.as_p }}

          <button class="form-btn" type="submit">Log in</button>
          <span class="has-separator">Or</span>

        </form>

        <div class="sign-up">
          Have an account? <a href="{% url 'sign-in' %}">Sign In</a>
        </div>
      </div>
    </div>


  </div>

</body>

</html>