{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title> Password Change Form</title>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <a href="{% url 'username_reset' %}"><button class="form-btn" style="height: 45px; width: 200px;">Reset Username</button></a>
      <div class="phone-app-ddemo"></div>
      <div class="form-data">
        <form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
          <div class="logo">
            <h3 style="padding: 20px; font-size: 20px;">Change Password</h3>
          </div>
          {{ form.as_p}} <br>
          <button class="form-btn" type="submit">Change Password</button>
          <!-- <a href="index.html" class="form-btn" type="submit">Log in</a> -->
          
        </form>
        
      </div>
    </div>



  </div>

</body>

</html>
{% endblock content %}




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>

<body>
<div class="container m-auto">
    <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3"><a href="/">Home</a> / Account Setting for <b>{{user.username}}</b> </h1>
    <br>
    <hr>
    <div class="grid lg:grid-cols-3 mt-12 gap-8">
        <div>
            <h3 class="text-xl mb-2"> General</h3>
            <p></p>
        </div>
        <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
            <div style="background-color: transparent">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <br>
                    <button class="btn btn-primary btn-block" style="width:200px;position: relative;left:35%;background: linear-gradient(to right,#623dc6 ,#9a35dd );">Change Password</button>
                    <br><br>
                    <ul>
                        <li class="text-muted">Your password can't be too similar to your other personal information.</li>
                        <li class="text-muted">Your password must contain atleast 8 characters.</li>
                        <li class="text-muted">Your password can't be a commonly used password.</li>
                        <li class="text-muted">Your password can't be entirely numeric.</li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html> -->